@charset "UTF-8";
/*!
Theme Name: _ThemeVertlette
Theme URI: http://underscores.me/
Author: Gt Thibault
Author URI: http://vertlette.dev.local
Description: Création de site de produit en ligne
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
*/
/* Variable
--------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Roboto);
/* Normalize
--------------------------------------------- */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

/* Box sizing
--------------------------------------------- */
/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

/* Layout
--------------------------------------------- */
.bloc-page {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto; }

.flex-grid {
  display: flex;
  justify-content: space-between; }

/* Base
--------------------------------------------- */
.background-information-top {
  background-color: #ab892f; }

html {
  height: 100%; }

body {
  font-family: "Roboto", serif;
  font-size: 16px; }

h1,
h2,
h3,
p {
  margin-block-start: 0;
  margin-block-end: 0; }

ul {
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px; }

li {
  list-style: none; }

a {
  text-decoration: none; }

img {
  width: 100%; }

.fa-map-marker-alt,
.fa-heart,
.fa-user,
.fa-shopping-cart {
  padding-right: 20px; }

.nav1,
.hidden-fa-bars {
  display: none; }

@media only screen and (max-width: 910px) {
  .main-navigation,
  .nav,
  .informationTop-content--locate-store {
    display: none; }

  .hidden-fa-bars {
    display: block; }

  .fa-search {
    margin-right: 20px; } }
/* State
--------------------------------------------- */
/* Module
--------------------------------------------- */
/* Header
--------------------------------------------- */
.sidebar-content {
  height: 149px;
  font-weight: bold;
  align-self: center; }
  .sidebar-content--logo {
    align-self: center; }
  .sidebar-content span {
    align-self: center; }
    .sidebar-content span .fa-search {
      font-size: 18px;
      cursor: pointer;
      transform: rotate(90deg); }
  .sidebar-content .main-navigation {
    align-self: center;
    letter-spacing: 0.02em; }
    .sidebar-content .main-navigation ul {
      display: flex; }
    .sidebar-content .main-navigation--item {
      padding-right: 56px; }
      .sidebar-content .main-navigation--item a {
        font-size: 18px;
        color: #000;
        cursor: pointer; }
  @media only screen and (max-width: 910px) {
    .sidebar-content .nav1 {
      display: block;
      font-weight: bold;
      align-self: center; }
      .sidebar-content .nav1 ul {
        display: flex; }
      .sidebar-content .nav1--item {
        padding-right: 15px; }
        .sidebar-content .nav1--item a {
          color: #000;
          cursor: pointer; }
      .sidebar-content .nav1--item:nth-child(4) {
        padding-right: 20px; } }

.informationTop-content {
  height: 61.45px; }
  .informationTop-content--locate-store {
    align-self: center;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 0.02em; }
  .informationTop-content--text {
    color: #fff;
    align-self: center;
    font-weight: 400;
    letter-spacing: 0.02em; }
  .informationTop-content .nav {
    font-weight: bold;
    align-self: center; }
    .informationTop-content .nav ul {
      display: flex; }
    .informationTop-content .nav--item a {
      color: #000;
      cursor: pointer; }
    .informationTop-content .nav--item:first-child {
      padding-right: 15px; }
    .informationTop-content .nav--item:nth-child(2) {
      padding-right: 15px; }
    .informationTop-content .nav--item:nth-child(3) {
      padding-right: 15px; }

@media only screen and (max-width: 910px) {
  .informationTop-content {
    justify-content: center;
    height: 38px; }
    .informationTop-content--text {
      text-align: center; } }
.background-banner {
  background-color: #9f9e93;
  height: 64px;
  display: flex;
  box-shadow: inset 3px 3px 8px 3px #8d8c88; }
  .background-banner .banner-content {
    justify-content: center;
    align-self: center; }
    .background-banner .banner-content p {
      font-weight: 400;
      letter-spacing: 0.02em;
      font-size: 20px;
      text-align: center;
      color: #fff; }

/* Home page
--------------------------------------------- */
/* News page
--------------------------------------------- */
/* Contact page
--------------------------------------------- */
/* Footer
--------------------------------------------- */
.footernav {
  background-color: #333333;
  display: flex;
  flex-direction: column; }

.columnfooter {
  flex: 1; }

/*# sourceMappingURL=style.css.map */
