@import "state";

.background-information-top,
.background-newsletter {
    background-color: $background-gold;
}

.background-description {
    background-color: $background-blackgray;
}

.background-copyright {
    background-color: $white;
}

.background-space__creation {
    background-color: $background-blackgray;
    margin-top: 200px;
}

// .logo {
//     font-size: $logo;
// }

// .subtitle {
//     font-size: $logo-subtitle;
// }

html {
    height: 100%;
}

body {
    font-family: $roboto;
    font-size: $body-text1;
}

h1,
h2,
h3,
h4,
p {
    margin-block-start: 0;
    margin-block-end: 0;
}

ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.fa-map-marker-alt,
.fa-heart,
.fa-user,
.fa-shopping-cart {
    padding-right: 20px;
}

// input {
//     border-width: 0px;
//     width: 100%;
//     padding: 20px 0px 20px 0px;
//     margin-bottom: 25px;
// }

.button {
    font-size: $button;
    border: none;
    text-align: center;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.button-back {
    color: #fff;
    text-align: center;
    padding: 6px 30px;
    width: 226.39px;
    font-style: italic;
    background-color: $black;
    &:hover {
        background: $hover-button;
    }
}

.nav1,
.hidden-fa-bars {
    display: none;
}

@media #{$medium-down} {
    .main-navigation li,
    .nav,
    .informationTop-content--locate-store {
        display: none;
    }

    .hidden-fa-bars {
        display: block;
    }

    .fa-search {
        margin-right: 20px;
    }
}
