.bloc-page {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex-grid {
    display: flex;
    justify-content: space-between;
}

// .width25 {
//     width: 25%;
// }
// .width33 {
//     width: 33.33%;
// }
.width50 {
    width: 50%;
}
// .width100 {
//     width: 100%;
// }

// @media #{$medium-down} {
//     .flex-grid {
//         display: block;
//         .width50 {
//             width: 100%;
//         }
//     }
// }
