@import "variables/theme/variable";
.is-hover-link-footer {
    &:hover {
        color: #9d9faa;
    }
}
.is-active-link-footer {
    &:focus {
        color: #4d5597;
    }
}
.is-hover-social-icon {
    &:hover {
        color: $icon-hover;
    }
}
.is-active-social-icon {
    &:focus {
        color: $icon-hover !important;
    }
}
.is-hover-link-main__navigation {
    &:hover {
        color: #61626b;
    }
}
.is-active-link-main__Navigation {
    &:focus {
        color: #ab892f;
    }
}
