@import "../../base";
.big-trend-card {
    padding-bottom: 100px;
    &--title {
        padding-bottom: 30px;
    }
    h3 {
        font-size: $h3-bold;
        font-style: italic;
        padding-bottom: 12px;
    }
    span {
        color: #000;
    }
    &--color_text {
        font-size: 14px;
        font-weight: bold;
        color: rgb(243, 41, 41);
    }
}
.big-trend {
    &--width50 {
        width: 50%;
        align-self: center;
    }
    &--flex__grid {
        display: flex;
        flex-direction: column;
    }
    p {
        padding: 10px 0px;
        line-height: 1.4;
    }
    img {
        width: 100%;
        height: auto;
    }
}
@media #{$medium-down} {
    .big-trend-card,
    .big-trend {
        display: block;
        &--width50 {
            width: 100%;
        }
        .bloc-page {
            width: 100%;
        }
    }
}
