/* Header
--------------------------------------------- */
/* Variables
--------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Roboto);
.site-header {
	box-shadow: 5px -1px 25px 3px #8d8c88;
}

.sidebar-content {
	height: 140px;
	font-weight: bold;
	align-items: center;
}

.sidebar-content--logo {
	width: 190px;
	height: auto;
	align-self: center;
}

.sidebar-content span {
	align-self: center;
}

.sidebar-content span .fa-search {
	font-size: 18px;
	cursor: pointer;
	transform: rotate(90deg);
}

.sidebar-content .main-navigation {
	align-self: center;
	letter-spacing: 0.02em;
	display: flex;
}

.sidebar-content .main-navigation li {
	padding-right: 35px;
}

.sidebar-content .main-navigation li a {
	font-size: 18px;
	color: #000;
	cursor: pointer;
}

@media only screen and (max-width: 947px) {
	.sidebar-content .sidebar-content {
		height: 100px;
	}
	.sidebar-content .sidebar-content--logo {
		width: 150px;
	}
	.sidebar-content .nav1 {
		display: block;
		font-weight: bold;
		align-self: center;
	}
	.sidebar-content .nav1 ul {
		display: flex;
	}
	.sidebar-content .nav1--item {
		padding-right: 15px;
	}
	.sidebar-content .nav1--item a {
		color: #000;
		cursor: pointer;
	}
	.sidebar-content .nav1--item:nth-child(4) {
		padding-right: 20px;
	}
}

.informationTop-content {
	height: 61.45px;
}

.informationTop-content--locate-store {
	align-self: center;
	font-weight: bold;
	cursor: pointer;
	letter-spacing: 0.02em;
}

.informationTop-content--text {
	color: #fff;
	align-self: center;
	font-weight: 400;
	letter-spacing: 0.02em;
}

.informationTop-content .nav {
	font-weight: bold;
	align-self: center;
}

.informationTop-content .nav ul {
	display: flex;
}

.informationTop-content .nav--item a {
	color: #000;
	cursor: pointer;
}

.informationTop-content .nav--item:first-child {
	padding-right: 15px;
}

.informationTop-content .nav--item:nth-child(2) {
	padding-right: 15px;
}

.informationTop-content .nav--item:nth-child(3) {
	padding-right: 15px;
}

@media only screen and (max-width: 947px) {
	.informationTop-content {
		justify-content: center;
		height: 38px;
	}
	.informationTop-content--text {
		text-align: center;
	}
}

.background-banner {
	background-color: #9f9e93;
	height: 64px;
	display: flex;
	box-shadow: inset 3px 3px 8px 3px #8d8c88;
}

.background-banner .banner-content {
	justify-content: center;
	align-self: center;
}

.background-banner .banner-content p {
	font-weight: 400;
	letter-spacing: 0.02em;
	font-size: 20px;
	text-align: center;
	color: #fff;
}

/* Home page
--------------------------------------------- */
.image__shadow {
	box-shadow: 0px 3px 25px 3px #8d8c88;
}

.is-hover-link-footer:hover, .copyright-content a:hover, .description-content .description-content--text a:hover,
.description-content .description-content--social a:hover {
	color: #9d9faa;
}

.is-active-link-footer:focus, .copyright-content a:focus, .description-content .description-content--text a:focus,
.description-content .description-content--social a:focus {
	color: #4d5597;
}

.is-hover-social-icon:hover, .copyright-content span a:hover, .description-content .description-content--text span a:hover,
.description-content .description-content--social span a:hover {
	color: #836924;
}

.is-active-social-icon:focus, .copyright-content span a:focus, .description-content .description-content--text span a:focus,
.description-content .description-content--social span a:focus {
	color: #836924 !important;
}

.is-hover-link-main__navigation:hover, .sidebar-content .main-navigation li a:hover {
	color: #61626b;
}

.is-active-link-main__Navigation:focus, .sidebar-content .main-navigation li a:focus {
	color: #ab892f;
}

.background-information-top,
.background-newsletter {
	background-color: #ab892f;
}

.background-description {
	background-color: #262626;
}

.background-copyright {
	background-color: #fff;
}

.background-space__creation {
	background-color: #262626;
	margin-top: 200px;
}

html {
	height: 100%;
}

body {
	font-family: "Roboto", serif;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
p {
	margin-block-start: 0;
	margin-block-end: 0;
}

ul {
	margin-block-start: 0em;
	margin-block-end: 0em;
	padding-inline-start: 0px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

.fa-map-marker-alt,
.fa-heart,
.fa-user,
.fa-shopping-cart {
	padding-right: 20px;
}

.button, .space__creation-content--style-bottom, .newsletter-content .mailing--style-bottom {
	font-size: 17px;
	border: none;
	text-align: center;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.button-back {
	color: #fff;
	text-align: center;
	padding: 6px 30px;
	width: 226.39px;
	font-style: italic;
	background-color: #000;
}

.button-back:hover {
	background: #333333;
}

.nav1,
.hidden-fa-bars {
	display: none;
}

@media only screen and (max-width: 947px) {
	.main-navigation li,
	.nav,
	.informationTop-content--locate-store {
		display: none;
	}
	.hidden-fa-bars {
		display: block;
	}
	.fa-search {
		margin-right: 20px;
	}
}

.inspiration-content {
	box-shadow: 0px 3px 15px 0px #8d8c88;
	background-color: #f9f9f9;
}

.inspiration-content--width50 {
	width: 50%;
	align-self: center;
}

.inspiration-content--flex__grid {
	display: flex;
	flex-direction: column;
}

.inspiration-content h4 {
	font-style: italic;
	font-size: 24px;
	color: #000;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	padding: 0px 0px 20px 0px;
}

.inspiration-content p {
	line-height: 1.5;
}

.inspiration-content--style-bottom {
	color: #fff;
	text-align: center;
	margin-top: 20px;
	padding: 13px 36px;
	width: 226.39px;
	font-style: italic;
	background-color: #ab892f;
}

.inspiration-content--style-bottom:hover {
	background: #836924;
}

.inspiration-content img {
	width: 100%;
	height: auto;
}

.inspiration-content .bloc-page {
	width: 70%;
}

@media only screen and (max-width: 947px) {
	.inspiration-content {
		display: block;
	}
	.inspiration-content--width50 {
		width: 100%;
	}
	.inspiration-content h4 {
		padding: 30px 0px 20px 0px;
	}
	.inspiration-content--style-bottom {
		padding: 13px 36px;
		margin-bottom: 25px;
	}
	.inspiration-content .bloc-page {
		width: 90%;
	}
}

@font-face {
	font-family: megariche;
	src: url(http://vertlette.dev.local/wp-content/themes/_themevertlette/fonts/MegaRiches.ttf);
	font-weight: normal;
}

.title {
	text-align: center;
}

.title--h1 {
	font-size: 150px;
	font-weight: normal;
	letter-spacing: 5px;
	color: #262626;
	font-family: "megariche", Arial, Helvetica, sans-serif;
}

.title--color__gold {
	color: #ab892f;
}

.title--auto__center {
	margin-left: auto;
	margin-right: auto;
	width: 35%;
}

.title--quote {
	text-transform: uppercase;
}

.title--border__line {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 60px;
	border-bottom: 2px solid #000;
	padding-bottom: 10px;
}

.title--text {
	padding: 10px 0px 100px 0px;
	font-weight: bold;
}

@media only screen and (max-width: 947px) {
	.title .title--h1 {
		font-size: 100px;
	}
	.title .title--auto__center {
		width: 100%;
	}
}

.is-hover-link-footer:hover, .copyright-content a:hover, .description-content .description-content--text a:hover,
.description-content .description-content--social a:hover {
	color: #9d9faa;
}

.is-active-link-footer:focus, .copyright-content a:focus, .description-content .description-content--text a:focus,
.description-content .description-content--social a:focus {
	color: #4d5597;
}

.is-hover-social-icon:hover, .copyright-content span a:hover, .description-content .description-content--text span a:hover,
.description-content .description-content--social span a:hover {
	color: #836924;
}

.is-active-social-icon:focus, .copyright-content span a:focus, .description-content .description-content--text span a:focus,
.description-content .description-content--social span a:focus {
	color: #836924 !important;
}

.is-hover-link-main__navigation:hover, .sidebar-content .main-navigation li a:hover {
	color: #61626b;
}

.is-active-link-main__Navigation:focus, .sidebar-content .main-navigation li a:focus {
	color: #ab892f;
}

.background-information-top,
.background-newsletter {
	background-color: #ab892f;
}

.background-description {
	background-color: #262626;
}

.background-copyright {
	background-color: #fff;
}

.background-space__creation {
	background-color: #262626;
	margin-top: 200px;
}

html {
	height: 100%;
}

body {
	font-family: "Roboto", serif;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
p {
	margin-block-start: 0;
	margin-block-end: 0;
}

ul {
	margin-block-start: 0em;
	margin-block-end: 0em;
	padding-inline-start: 0px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

.fa-map-marker-alt,
.fa-heart,
.fa-user,
.fa-shopping-cart {
	padding-right: 20px;
}

.button, .space__creation-content--style-bottom, .newsletter-content .mailing--style-bottom {
	font-size: 17px;
	border: none;
	text-align: center;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.button-back {
	color: #fff;
	text-align: center;
	padding: 6px 30px;
	width: 226.39px;
	font-style: italic;
	background-color: #000;
}

.button-back:hover {
	background: #333333;
}

.nav1,
.hidden-fa-bars {
	display: none;
}

@media only screen and (max-width: 947px) {
	.main-navigation li,
	.nav,
	.informationTop-content--locate-store {
		display: none;
	}
	.hidden-fa-bars {
		display: block;
	}
	.fa-search {
		margin-right: 20px;
	}
}

.prestige-content {
	box-shadow: 0px 3px 15px 0px #8d8c88;
	background-color: #f9f9f9;
}

.prestige-content--width50 {
	width: 50%;
	align-self: center;
}

.prestige-content--flex__grid {
	display: flex;
	flex-direction: column;
}

.prestige-content h4 {
	font-style: italic;
	font-size: 24px;
	color: #ab892f;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	padding: 0px 0px 20px 0px;
}

.prestige-content p {
	line-height: 1.5;
}

.prestige-content--style-bottom {
	color: #fff;
	text-align: center;
	margin-top: 20px;
	padding: 13px 70px;
	width: 226.39px;
	font-style: italic;
	background-color: #ab892f;
}

.prestige-content--style-bottom:hover {
	background: #836924;
}

.prestige-content img {
	width: 100%;
	height: auto;
}

.prestige-content .bloc-page {
	width: 70%;
}

@media only screen and (max-width: 947px) {
	.prestige-content {
		display: block;
	}
	.prestige-content--width50 {
		width: 100%;
	}
	.prestige-content h4 {
		padding: 30px 0px 20px 0px;
	}
	.prestige-content--style-bottom {
		padding: 13px 70px;
		margin-bottom: 25px;
	}
	.prestige-content .bloc-page {
		width: 90%;
	}
}

.products-content {
	padding-bottom: 200px;
}

.products-content--card {
	box-shadow: 0px 3px 15px 0px #8d8c88;
	width: 24%;
	border: 1px solid #9b9a9a;
	height: auto;
}

.products-content--card img {
	padding: 8px;
}

.products-content--text {
	text-align: center;
}

.products-content--text h4 {
	font-size: 18px;
	font-weight: bold;
	padding: 20px 0px 10px 0px;
	text-transform: uppercase;
	letter-spacing: 1;
}

.products-content--text p {
	padding-bottom: 40px;
}

@media only screen and (max-width: 947px) {
	.products-content .flex-grid {
		display: block;
	}
	.products-content--card {
		width: 100%;
		margin: 30px 0px;
	}
}

.selected-content h3 {
	text-align: center;
	font-style: italic;
	font-size: 30px;
	color: #000;
	font-weight: 400;
	letter-spacing: 0.02em;
	padding: 130px 0px 20px 0px;
}

.selected-content--border__line2 {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 60px;
	border-bottom: 1px solid #000;
	margin-bottom: 80px;
}

.is-hover-link-footer:hover, .copyright-content a:hover, .description-content .description-content--text a:hover,
.description-content .description-content--social a:hover {
	color: #9d9faa;
}

.is-active-link-footer:focus, .copyright-content a:focus, .description-content .description-content--text a:focus,
.description-content .description-content--social a:focus {
	color: #4d5597;
}

.is-hover-social-icon:hover, .copyright-content span a:hover, .description-content .description-content--text span a:hover,
.description-content .description-content--social span a:hover {
	color: #836924;
}

.is-active-social-icon:focus, .copyright-content span a:focus, .description-content .description-content--text span a:focus,
.description-content .description-content--social span a:focus {
	color: #836924 !important;
}

.is-hover-link-main__navigation:hover, .sidebar-content .main-navigation li a:hover {
	color: #61626b;
}

.is-active-link-main__Navigation:focus, .sidebar-content .main-navigation li a:focus {
	color: #ab892f;
}

.background-information-top,
.background-newsletter {
	background-color: #ab892f;
}

.background-description {
	background-color: #262626;
}

.background-copyright {
	background-color: #fff;
}

.background-space__creation {
	background-color: #262626;
	margin-top: 200px;
}

html {
	height: 100%;
}

body {
	font-family: "Roboto", serif;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
p {
	margin-block-start: 0;
	margin-block-end: 0;
}

ul {
	margin-block-start: 0em;
	margin-block-end: 0em;
	padding-inline-start: 0px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

.fa-map-marker-alt,
.fa-heart,
.fa-user,
.fa-shopping-cart {
	padding-right: 20px;
}

.button, .space__creation-content--style-bottom, .newsletter-content .mailing--style-bottom {
	font-size: 17px;
	border: none;
	text-align: center;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.button-back {
	color: #fff;
	text-align: center;
	padding: 6px 30px;
	width: 226.39px;
	font-style: italic;
	background-color: #000;
}

.button-back:hover {
	background: #333333;
}

.nav1,
.hidden-fa-bars {
	display: none;
}

@media only screen and (max-width: 947px) {
	.main-navigation li,
	.nav,
	.informationTop-content--locate-store {
		display: none;
	}
	.hidden-fa-bars {
		display: block;
	}
	.fa-search {
		margin-right: 20px;
	}
}

.space__creation-content {
	padding: 9px 0px;
}

.space__creation-content--text {
	color: #fff;
	margin: 20px 0px 20px 0px;
}

.space__creation-content--text h4 {
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 0.02em;
	padding-bottom: 10px;
}

.space__creation-content--style-bottom {
	text-align: end;
	align-self: center;
	margin-left: 10px;
	padding: 13px 30px;
	color: #000;
	background-color: #fff;
}

.space__creation-content--style-bottom:hover {
	color: #fff;
	background: #5a5656;
}

@media only screen and (max-width: 947px) {
	.space__creation-content {
		flex-direction: column;
		text-align: center;
	}
	.space__creation-content .width50 {
		width: 100%;
	}
	.space__creation-content--style-bottom {
		margin-bottom: 10px;
	}
}

/* News page
--------------------------------------------- */
.is-hover-link-footer:hover, .copyright-content a:hover, .description-content .description-content--text a:hover,
.description-content .description-content--social a:hover {
	color: #9d9faa;
}

.is-active-link-footer:focus, .copyright-content a:focus, .description-content .description-content--text a:focus,
.description-content .description-content--social a:focus {
	color: #4d5597;
}

.is-hover-social-icon:hover, .copyright-content span a:hover, .description-content .description-content--text span a:hover,
.description-content .description-content--social span a:hover {
	color: #836924;
}

.is-active-social-icon:focus, .copyright-content span a:focus, .description-content .description-content--text span a:focus,
.description-content .description-content--social span a:focus {
	color: #836924 !important;
}

.is-hover-link-main__navigation:hover, .sidebar-content .main-navigation li a:hover {
	color: #61626b;
}

.is-active-link-main__Navigation:focus, .sidebar-content .main-navigation li a:focus {
	color: #ab892f;
}

.background-information-top,
.background-newsletter {
	background-color: #ab892f;
}

.background-description {
	background-color: #262626;
}

.background-copyright {
	background-color: #fff;
}

.background-space__creation {
	background-color: #262626;
	margin-top: 200px;
}

html {
	height: 100%;
}

body {
	font-family: "Roboto", serif;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
p {
	margin-block-start: 0;
	margin-block-end: 0;
}

ul {
	margin-block-start: 0em;
	margin-block-end: 0em;
	padding-inline-start: 0px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

.fa-map-marker-alt,
.fa-heart,
.fa-user,
.fa-shopping-cart {
	padding-right: 20px;
}

.button, .space__creation-content--style-bottom, .newsletter-content .mailing--style-bottom {
	font-size: 17px;
	border: none;
	text-align: center;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.button-back {
	color: #fff;
	text-align: center;
	padding: 6px 30px;
	width: 226.39px;
	font-style: italic;
	background-color: #000;
}

.button-back:hover {
	background: #333333;
}

.nav1,
.hidden-fa-bars {
	display: none;
}

@media only screen and (max-width: 947px) {
	.main-navigation li,
	.nav,
	.informationTop-content--locate-store {
		display: none;
	}
	.hidden-fa-bars {
		display: block;
	}
	.fa-search {
		margin-right: 20px;
	}
}

.big-trend-card {
	padding-bottom: 100px;
}

.big-trend-card--title {
	padding-bottom: 30px;
}

.big-trend-card h3 {
	font-size: 30px;
	font-style: italic;
	padding-bottom: 12px;
}

.big-trend-card span {
	color: #000;
}

.big-trend-card--color_text {
	font-size: 14px;
	font-weight: bold;
	color: #f32929;
}

.big-trend--width50 {
	width: 50%;
	align-self: center;
}

.big-trend--flex__grid {
	display: flex;
	flex-direction: column;
}

.big-trend p {
	padding: 10px 0px;
	line-height: 1.4;
}

.big-trend img {
	width: 100%;
	height: auto;
}

@media only screen and (max-width: 947px) {
	.big-trend-card,
	.big-trend {
		display: block;
	}
	.big-trend-card--width50,
	.big-trend--width50 {
		width: 100%;
	}
	.big-trend-card .bloc-page,
	.big-trend .bloc-page {
		width: 100%;
	}
}

.big-trend--bloc-page {
	width: 100%;
	padding-right: 5%;
}

.news {
	padding: 100px 0px;
}

.news--card {
	width: 31%;
	height: auto;
}

.news--card img {
	padding: 8px;
}

.news p {
	text-align: center;
	font-size: 18px;
	padding: 20px 0px 10px 0px;
	letter-spacing: 1;
}

@media only screen and (max-width: 947px) {
	.news {
		padding: 30px 0px;
	}
	.news .flex-grid {
		display: block;
	}
	.news--card {
		width: 100%;
		margin: 30px 0px;
	}
}

.title {
	padding-top: 30px;
}

.title .newspaper-h2 {
	font-size: 48px;
	font-weight: normal;
	font-style: italic;
	letter-spacing: 0.02em;
	line-height: 1.9;
	color: #000;
}

.line__text p {
	line-height: 1.2;
}

/* Contact page
--------------------------------------------- */
/* Footer
--------------------------------------------- */
.is-hover-link-footer:hover, .copyright-content a:hover, .description-content .description-content--text a:hover,
.description-content .description-content--social a:hover {
	color: #9d9faa;
}

.is-active-link-footer:focus, .copyright-content a:focus, .description-content .description-content--text a:focus,
.description-content .description-content--social a:focus {
	color: #4d5597;
}

.is-hover-social-icon:hover, .copyright-content span a:hover, .description-content .description-content--text span a:hover,
.description-content .description-content--social span a:hover {
	color: #836924;
}

.is-active-social-icon:focus, .copyright-content span a:focus, .description-content .description-content--text span a:focus,
.description-content .description-content--social span a:focus {
	color: #836924 !important;
}

.is-hover-link-main__navigation:hover, .sidebar-content .main-navigation li a:hover {
	color: #61626b;
}

.is-active-link-main__Navigation:focus, .sidebar-content .main-navigation li a:focus {
	color: #ab892f;
}

.background-information-top,
.background-newsletter {
	background-color: #ab892f;
}

.background-description {
	background-color: #262626;
}

.background-copyright {
	background-color: #fff;
}

.background-space__creation {
	background-color: #262626;
	margin-top: 200px;
}

html {
	height: 100%;
}

body {
	font-family: "Roboto", serif;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
p {
	margin-block-start: 0;
	margin-block-end: 0;
}

ul {
	margin-block-start: 0em;
	margin-block-end: 0em;
	padding-inline-start: 0px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

.fa-map-marker-alt,
.fa-heart,
.fa-user,
.fa-shopping-cart {
	padding-right: 20px;
}

.button, .space__creation-content--style-bottom, .newsletter-content .mailing--style-bottom {
	font-size: 17px;
	border: none;
	text-align: center;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.button-back {
	color: #fff;
	text-align: center;
	padding: 6px 30px;
	width: 226.39px;
	font-style: italic;
	background-color: #000;
}

.button-back:hover {
	background: #333333;
}

.nav1,
.hidden-fa-bars {
	display: none;
}

@media only screen and (max-width: 947px) {
	.main-navigation li,
	.nav,
	.informationTop-content--locate-store {
		display: none;
	}
	.hidden-fa-bars {
		display: block;
	}
	.fa-search {
		margin-right: 20px;
	}
}

.copyright-content .copyright-content--text {
	justify-content: space-between;
	font-size: 13px;
	align-items: center;
	width: 100%;
	padding: 13px 0px 13px 0px;
}

.copyright-content .copyright-content--text .border-line {
	display: none;
}

.copyright-content .copyright-content--payment-card {
	font-size: 30px;
}

.copyright-content a {
	color: #000;
}

.copyright-content a:hover {
	text-decoration: underline;
}

.copyright-content a:focus {
	text-decoration: underline;
}

.copyright-content i:nth-child(2) {
	padding: 0px 15px;
}

@media only screen and (max-width: 947px) {
	.copyright-content .copyright-content--text {
		flex-direction: column;
		text-align: center;
		padding: 25px 0px 25px 0px;
	}
	.copyright-content .copyright-content--text p {
		padding-bottom: 15px;
	}
	.copyright-content .copyright-content--text p:first-child {
		padding-bottom: 0px;
	}
	.copyright-content .copyright-content--text p:nth-of-type(2) {
		padding-top: 7.5px;
	}
	.copyright-content .copyright-content--text .border-line {
		display: block;
		width: 360px;
		border-bottom: 1px solid #000;
		padding-bottom: 7.5px;
	}
}

.is-hover-link-footer:hover, .copyright-content a:hover, .description-content .description-content--text a:hover,
.description-content .description-content--social a:hover {
	color: #9d9faa;
}

.is-active-link-footer:focus, .copyright-content a:focus, .description-content .description-content--text a:focus,
.description-content .description-content--social a:focus {
	color: #4d5597;
}

.is-hover-social-icon:hover, .copyright-content span a:hover, .description-content .description-content--text span a:hover,
.description-content .description-content--social span a:hover {
	color: #836924;
}

.is-active-social-icon:focus, .copyright-content span a:focus, .description-content .description-content--text span a:focus,
.description-content .description-content--social span a:focus {
	color: #836924 !important;
}

.is-hover-link-main__navigation:hover, .sidebar-content .main-navigation li a:hover {
	color: #61626b;
}

.is-active-link-main__Navigation:focus, .sidebar-content .main-navigation li a:focus {
	color: #ab892f;
}

.background-information-top,
.background-newsletter {
	background-color: #ab892f;
}

.background-description {
	background-color: #262626;
}

.background-copyright {
	background-color: #fff;
}

.background-space__creation {
	background-color: #262626;
	margin-top: 200px;
}

html {
	height: 100%;
}

body {
	font-family: "Roboto", serif;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
p {
	margin-block-start: 0;
	margin-block-end: 0;
}

ul {
	margin-block-start: 0em;
	margin-block-end: 0em;
	padding-inline-start: 0px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

.fa-map-marker-alt,
.fa-heart,
.fa-user,
.fa-shopping-cart {
	padding-right: 20px;
}

.button, .space__creation-content--style-bottom, .newsletter-content .mailing--style-bottom {
	font-size: 17px;
	border: none;
	text-align: center;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.button-back {
	color: #fff;
	text-align: center;
	padding: 6px 30px;
	width: 226.39px;
	font-style: italic;
	background-color: #000;
}

.button-back:hover {
	background: #333333;
}

.nav1,
.hidden-fa-bars {
	display: none;
}

@media only screen and (max-width: 947px) {
	.main-navigation li,
	.nav,
	.informationTop-content--locate-store {
		display: none;
	}
	.hidden-fa-bars {
		display: block;
	}
	.fa-search {
		margin-right: 20px;
	}
}

.description-content {
	justify-content: space-around;
}

.description-content .description-content--text,
.description-content .description-content--social {
	color: #fff;
	margin: 40px 0px 40px 0px;
}

.description-content .description-content--text .description__title,
.description-content .description-content--social .description__title {
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 0.02em;
	padding-bottom: 10px;
}

.description-content .description-content--text a,
.description-content .description-content--social a {
	color: #fff;
	line-height: 1.5;
}

.description-content .description-content--text a:hover,
.description-content .description-content--social a:hover {
	text-decoration: underline;
}

.description-content .description-content--text a:focus,
.description-content .description-content--social a:focus {
	text-decoration: underline;
}

.description-content .description-content--text span a,
.description-content .description-content--social span a {
	font-size: 25px;
	letter-spacing: 0.8em;
	padding-top: 8px;
}

@media only screen and (max-width: 947px) {
	.description-content {
		flex-direction: column;
		text-align: center;
	}
	.description-content .description-content--text,
	.description-content .description-content--social {
		margin: 20px 0px 20px 0px;
	}
	.description-content .description-content--text span,
	.description-content .description-content--social span {
		justify-content: center;
	}
	.description-content .description-content--text span a,
	.description-content .description-content--social span a {
		padding: 0px 12px 0px 12px;
		letter-spacing: normal;
	}
}

.is-hover-link-footer:hover, .copyright-content a:hover, .description-content .description-content--text a:hover,
.description-content .description-content--social a:hover {
	color: #9d9faa;
}

.is-active-link-footer:focus, .copyright-content a:focus, .description-content .description-content--text a:focus,
.description-content .description-content--social a:focus {
	color: #4d5597;
}

.is-hover-social-icon:hover, .copyright-content span a:hover, .description-content .description-content--text span a:hover,
.description-content .description-content--social span a:hover {
	color: #836924;
}

.is-active-social-icon:focus, .copyright-content span a:focus, .description-content .description-content--text span a:focus,
.description-content .description-content--social span a:focus {
	color: #836924 !important;
}

.is-hover-link-main__navigation:hover, .sidebar-content .main-navigation li a:hover {
	color: #61626b;
}

.is-active-link-main__Navigation:focus, .sidebar-content .main-navigation li a:focus {
	color: #ab892f;
}

.background-information-top,
.background-newsletter {
	background-color: #ab892f;
}

.background-description {
	background-color: #262626;
}

.background-copyright {
	background-color: #fff;
}

.background-space__creation {
	background-color: #262626;
	margin-top: 200px;
}

html {
	height: 100%;
}

body {
	font-family: "Roboto", serif;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
p {
	margin-block-start: 0;
	margin-block-end: 0;
}

ul {
	margin-block-start: 0em;
	margin-block-end: 0em;
	padding-inline-start: 0px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

.fa-map-marker-alt,
.fa-heart,
.fa-user,
.fa-shopping-cart {
	padding-right: 20px;
}

.button, .space__creation-content--style-bottom, .newsletter-content .mailing--style-bottom {
	font-size: 17px;
	border: none;
	text-align: center;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.button-back {
	color: #fff;
	text-align: center;
	padding: 6px 30px;
	width: 226.39px;
	font-style: italic;
	background-color: #000;
}

.button-back:hover {
	background: #333333;
}

.nav1,
.hidden-fa-bars {
	display: none;
}

@media only screen and (max-width: 947px) {
	.main-navigation li,
	.nav,
	.informationTop-content--locate-store {
		display: none;
	}
	.hidden-fa-bars {
		display: block;
	}
	.fa-search {
		margin-right: 20px;
	}
}

.newsletter-content .newsletter-content--text {
	color: #fff;
	margin: 20px 0px 20px 0px;
}

.newsletter-content .newsletter-content--text h4 {
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 0.02em;
	padding-bottom: 10px;
}

.newsletter-content .mailing {
	text-align: end;
	align-self: center;
}

.newsletter-content .mailing--input_wrap {
	display: inline-block;
	width: 320px;
	padding: 0 10px;
	background: #fff;
}

.newsletter-content .mailing--input_wrap input {
	width: 100%;
	padding: 13px 0 13px;
	border: none;
}

.newsletter-content .mailing--style-bottom {
	color: #fff;
	margin-left: 10px;
	padding: 13px 30px;
	background-color: #000;
}

.newsletter-content .mailing--style-bottom:hover {
	background: #333333;
}

@media only screen and (max-width: 947px) {
	.newsletter-content {
		flex-direction: column;
		text-align: center;
	}
	.newsletter-content .width50 {
		width: 100%;
	}
	.newsletter-content .newsletter-content--text {
		margin: 20px 0px 20px 0px;
		text-align: center;
	}
	.newsletter-content .mailing {
		text-align: center;
		margin-bottom: 15px;
	}
	.newsletter-content .mailing--input_wrap {
		width: 247px;
	}
	.newsletter-content .mailing--style-bottom {
		margin: 5px 0px 0px 15px;
	}
}

@media only screen and (max-width: 1132px) {
	.newsletter-content {
		flex-direction: column;
		text-align: center;
	}
	.newsletter-content .width50 {
		width: 100%;
		text-align: center;
	}
	.newsletter-content .mailing {
		margin-bottom: 15px;
	}
}

/*# sourceMappingURL=modules.css.map */