@import "../base";

.prestige-content {
    &--post__type__description {
        padding: 20px 0px;
    }
    .color__title {
        color: $black;
    }
    .back-button {
        @extend .button-back;
    }
}
.padding__post {
    padding: 50px 0px;
}
