// Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto);
$roboto: "Roboto", serif;

// Font sizes
$h1: 150px;
$h2: 48px;
$h3: 30px;
$h3-bold: 30px;
$h4: 24px;
$baner-text: 20px;
$body-text1: 16px;
$menu: 18px;
$button: 17px;

// // Colors
$background-gold: #ab892f;
$background-brown: #8d8989;
$white: #fff;
$background-baner: #9f9e93;
$background-blackgray: #262626;
$black: #000;
$icon: #ab892f;

// // Colors state
$hover-button: lighten($black, 20%);
$icon-hover: darken($icon, 10%);
$hover-button02: darken($background-gold, 10%);
$hover-button03: darken($background-brown, 20%);

// // height card

// responsive
$medium: 947px;
$large: 1132px;
$medium-down: "only screen and (max-width: #{$medium})";
$large-down: "only screen and (max-width: #{$large})";
