@import "../../base";

.inspiration-content {
    box-shadow: 0px 3px 15px 0px #8d8c88;
    background-color: #f9f9f9;
    &--width50 {
        width: 50%;

        align-self: center;
    }
    &--flex__grid {
        display: flex;
        flex-direction: column;
    }
    h4 {
        font-style: italic;
        font-size: $h4;
        color: $black;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.02em;
        padding: 0px 0px 20px 0px;
    }
    p {
        line-height: 1.5;
    }
    &--style-bottom {
        color: $white;
        text-align: center;
        margin-top: 20px;
        padding: 13px 36px;
        width: 226.39px;
        font-style: italic;
        background-color: $background-gold;
    }
    &--style-bottom:hover {
        background: $hover-button02;
    }
    img {
        width: 100%;
        height: auto;
    }
    .bloc-page {
        width: 70%;
    }
}
@media #{$medium-down} {
    .inspiration-content {
        display: block;
        &--width50 {
            width: 100%;
        }
        h4 {
            padding: 30px 0px 20px 0px;
        }
        &--style-bottom {
            padding: 13px 36px;
            margin-bottom: 25px;
        }
        .bloc-page {
            width: 90%;
        }
    }
}
