@font-face {
    font-family: megariche;
    src: url(http://vertlette.dev.local/wp-content/themes/_themevertlette/fonts/MegaRiches.ttf);
    font-weight: normal;
}

.title {
    text-align: center;
    &--h1 {
        font-size: $h1;
        font-weight: normal;
        letter-spacing: 5px;
        color: #262626;
        font-family: "megariche", Arial, Helvetica, sans-serif;
    }
    &--color__gold {
        color: #ab892f;
    }
    &--auto__center {
        margin-left: auto;
        margin-right: auto;
        width: 35%;
    }
    &--quote {
        text-transform: uppercase;
    }
    &--border__line {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 60px;
        border-bottom: 2px solid $black;
        padding-bottom: 10px;
    }
    &--text {
        padding: 10px 0px 100px 0px;
        font-weight: bold;
    }
    @media #{$medium-down} {
        .title {
            &--h1 {
                font-size: 100px;
            }
            &--auto__center {
                width: 100%;
            }
        }
    }
}
