.sidebar-content {
    height: 140px;
    font-weight: bold;
    align-items: center;

    &--logo {
        width: 190px;
        height: auto;
        align-self: center;
    }

    span {
        align-self: center;
        .fa-search {
            font-size: $menu;
            cursor: pointer;
            transform: rotate(90deg);
        }
    }
    .main-navigation {
        align-self: center;
        letter-spacing: 0.02em;
        display: flex;

        li {
            padding-right: 35px;
            a {
                font-size: 18px;
                color: $black;
                cursor: pointer;
                &:hover {
                    @extend .is-hover-link-main__navigation;
                }
                &:focus {
                    @extend .is-active-link-main__Navigation;
                }
            }
        }
    }

    @media #{$medium-down} {
        .sidebar-content {
            height: 100px;
            &--logo {
                width: 150px;
            }
        }
        .nav1 {
            display: block;
            font-weight: bold;
            align-self: center;

            ul {
                display: flex;
            }

            &--item {
                padding-right: 15px;
                a {
                    color: $black;
                    cursor: pointer;
                }
            }
            &--item:nth-child(4) {
                padding-right: 20px;
            }
        }
    }
}
