.informationTop-content {
    height: 61.45px;

    &--locate-store {
        align-self: center;
        font-weight: bold;
        cursor: pointer;
        letter-spacing: 0.02em;
    }

    &--text {
        color: $white;
        align-self: center;
        font-weight: 400;
        letter-spacing: 0.02em;
    }

    .nav {
        font-weight: bold;
        align-self: center;

        ul {
            display: flex;
        }

        &--item {
            a {
                color: $black;
                cursor: pointer;
            }
        }

        &--item:first-child {
            padding-right: 15px;
        }
        &--item:nth-child(2) {
            padding-right: 15px;
        }
        &--item:nth-child(3) {
            padding-right: 15px;
        }
    }
}

@media #{$medium-down} {
    .informationTop-content {
        justify-content: center;
        height: 38px;
        &--text {
            text-align: center;
        }
    }
}
