.background-banner {
    background-color: $background-baner;
    height: 64px;
    display: flex;
    box-shadow: inset 3px 3px 8px 3px #8d8c88;

    .banner-content {
        justify-content: center;
        align-self: center;
        p {
            font-weight: 400;
            letter-spacing: 0.02em;
            font-size: $baner-text;
            text-align: center;
            color: $white;
        }
    }
}
